    'sr_{{model_file_name}}_1': {
        'en': _('This {{model_name_spaces_lower_case}} does not belong to the user.'),
        'nl': _('Deze {{model_name_spaces_lower_case}} hoort niet bij de gebruiker.')
    },
