from django.utils.translation import ugettext_lazy as _
from rest_framework import serializers
from rest.serializers import BaseModelSerializer
from commons.utils import GenericDateTimeOperations

from ...models import {{model_name}}


class {{model_name}}UpdateSerializer(BaseModelSerializer):

{{custom_fields}}

    class Meta:
        model = {{model_name}}
        fields = ({{fields}})
