import logging
import sys

from rest.views import BaseRetrieveUpdateDestroyAPIView
from users.constants import *
from {{app_name}}.rest_api.serializers import ({{model_serializer_name}}Serializer,
                                               {{model_name}}OutputSerializer)
from {{app_name}}.services import {{model_name}}Service

logger = logging.getLogger(__name__)


class {{model_name}}RetrieveUpdateDestroyAPIView(BaseRetrieveUpdateDestroyAPIView):

    serializer_class = {{model_serializer_name}}Serializer
    single_get_method_allowed = [{{single_get_method_allowed}}]
    put_method_allowed = [{{put_method_allowed}}]
    delete_method_allowed = [{{delete_method_allowed}}]

    def put(self,
            request,
            user_uuid,
            {{model_file_name}}_uuid,
            *args,
            **kwargs):
        """
        Api version: {{api_version}}

        Updates existing {{model_name_spaces_lower_case}} that belongs to an user that is supplied in url parameter.

        Url Parameter is `user_uuid` denoting user uuid and `{{model_file_name}}_uuid`
        denoting {{model_name_spaces_lower_case}} uuid.
        """
        user = request.user
        self.check_group_permission(method_name=sys._getframe().f_code.co_name,
                                    user=user)
        response, data = self.check_serializer(request=request)
        if response:
            return response
        {{model_name}}Service(user=user).check_user_{{model_file_name}}(
            {{model_file_name}}_uuid={{model_file_name}}_uuid)
        {{model_file_name}} = {{model_name}}Service(user=user).delete_with_user(
            user_uuid=user_uuid,
            uuid_value={{model_file_name}}_uuid,
            **data)
        return self.ok(data={{model_file_name}},
                       serializer={{model_name}}OutputSerializer,
                       request=request,
                       is_listing=False)

    def get(self,
            request,
            user_uuid,
            {{model_file_name}}_uuid,
            *args,
            **kwargs):
        """
        Api version: {{api_version}}

        Retrieves a single existing {{model_name_spaces_lower_case}} that belongs to an user that is supplied in url parameter.

        Url Parameter is `user_uuid` denoting user uuid and `{{model_file_name}}_uuid`
        denoting {{model_name_spaces_lower_case}} uuid.
        """
        user = request.user
        self.check_group_permission(method_name='single_{0}'.format(sys._getframe().f_code.co_name),
                                    user=user)
        {{model_file_name}} = {{model_name}}Service(user=user).get_single_with_user(
            user_uuid=user_uuid,
            user_item_uuid={{model_file_name}}_uuid)
        return self.ok(data={{model_file_name}},
                       serializer={{model_name}}OutputSerializer,
                       request=request,
                       is_listing=False,
                       many=False)

    def delete(self,
               request,
               user_uuid,
               {{model_file_name}}_uuid,
               *args,
               **kwargs):
        """
        Api version: {{api_version}}

        Deletes existing {{model_name_spaces_lower_case}} that belongs to an user that is supplied in url parameter.

        Url Parameter is `user_uuid` denoting user uuid and `{{model_file_name}}_uuid`
        denoting {{model_name_spaces_lower_case}} uuid.
        """
        user = request.user
        self.check_group_permission(method_name=sys._getframe().f_code.co_name,
                                    user=user)
        {{model_file_name}} = {{model_name}}Service(user=user).delete_with_user(
            user_uuid=user_uuid,
            user_item_uuid={{model_file_name}}_uuid)
        return self.ok(data={{model_file_name}},
                       serializer={{model_name}}OutputSerializer,
                       request=request,
                       is_listing=False,
                       many=False)
