'Can add {{model_name_space_seperated}}',
                        'Can change {{model_name_space_seperated}}',
                        'Can delete {{model_name_space_seperated}}',
                        'Can view {{model_name_space_seperated}}',
                        'Can view {{model_name_lowercase}}',
                    ])  # update permission end
